body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EFF2FF;
}

html,
body{
    width:100%;
    overflow-x:hidden;
}

#wrapper {
    display: flex;
}

/*reply */

.replyBtn{
    display:inline-block;
    background:#00157D;
    color:white;
    padding:8px 18px;
    border-radius:8px;
    text-decoration:none;
    font-size:13px;
    font-weight:600;
}

.replyBtn:hover{
    background:#FF9500;
}

.viewBtn{
    display:inline-block;
    background:white;
    color:#666;
    border:1px solid #CCCCCC;
    padding:8px 18px;
    border-radius:8px;
    text-decoration:none;
    font-size:13px;
}

.newStatus{
    background:#EAF0FF;
    color:#2E5BFF;
    padding:6px 14px;
    border-radius:20px;
    font-size:12px;
    font-weight:600;
}

.replyStatus{
    background:#E7F8E8;
    color:#43A047;
    padding:6px 14px;
    border-radius:20px;
    font-size:12px;
    font-weight:600;
}
/* TOP CONTAINER */

main{
    margin-left:180px;
    width:calc(100% - 180px);
    overflow-x:hidden;
}

article{
    padding: 0px;
}

#topContainer{
    background:white;
    padding:50px 22px 22px;
    margin-bottom:18px;
    box-sizing:border-box;
}

#topSection
{
    border-bottom:1px solid #bbbbbb;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

#topSection h1{
    margin:0;
    font-size: 24px;
    color:#00157D;
}

#topSection p{
    margin-top:8px;
    font-size: 13px;
    color:#000000;
}

#searchSection
{
    display:flex;
    align-items: center;
    gap:15px;
}

#searchBox{
    flex:1;
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 8px;
    padding:0 12px;
    height:38px;
    
}

.material-symbols-outlined.search
{
    color:#999999;
    font-size:18px;
}

#searchBox input{
    width:100%;
    border:none;
    outline:none;
    background: none;
    padding-left:10px;
    font-size: 13px;
}


/*TABLE*/

#tableSection{
    background:white;
    margin:0 18px 18px;
    overflow:hidden;
    box-sizing:border-box;
}

table{
    width:100%;
    border-collapse: collapse;
}

th{
    background-color: #EEF1FF;
    color : #00157D;
    font-size: 15px;
    text-align: center;
    padding: 18px 12px;
}

td{
    padding: 10px 12px;
    font-size: 14px;
    color:#00157D;
    text-align: center;
}

.material-symbols-outlined.profileIcon
{
    font-size: 32px;
    color:#555555;
}

/* PAGE NUMBER */

#pageNumberSection
{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding:20px;
    border-top: 1px solid #bbbbbb;
    margin: 0 19px;
}

.pageBtn,
.pageNumber{
    width:32px;
    height:32px;

    display:flex;
    justify-content:center;
    align-items:center;

    border:1px solid #D6D6D6;
    border-radius:6px;
    background:white;

    padding:0;
    margin:0;
    box-sizing:border-box;

    font-size:12px;
    color:#666666;
    cursor:pointer;
    text-decoration: none; 
}


.pageBtn:hover, .pageNumber:hover{
    background-color: #EEF1FF;
}

.activeNumber
{
    border-color: #1c24ff;
    color:#1c24ff;
}

.material-symbols-outlined.arrowback{
    font-size: 15px;
}

.material-symbols-outlined.arrowforward{
    font-size: 15px;
}

/* SEARCH BUTTON */

#searchSection button{
    height:38px;
    padding:0 24px;
    border:none;
    border-radius:8px;
    background-color:#00157D;
    color:white;
    font-size:13px;
    font-weight:600;
    cursor:pointer;
    transition:0.2s;
    white-space:nowrap;
}

#searchSection button:hover{
    background-color:#FF9500;
}

#searchSection button:active{
    transform:scale(0.98);
}
/*status dropdown*/
#statusSection{
    width:180px;
}

#status{
    width:100%;
    height:38px;
    border:none;
    outline:none;
    border-radius:8px;
    background:#F5F5F5;
    padding:0 12px;
    font-size:13px;
    color:#666666;
}

/*status button*/
.newStatus,
.replyStatus{
    display:inline-flex;
    justify-content:center;
    align-items:center;

    width:90px;
    height:34px;

    border-radius:20px;

    font-size:12px;
    font-weight:600;

    box-sizing:border-box;
}

.newStatus{
    background:#EAF0FF;
    color:#2E5BFF;
}

.replyStatus{
    background:#E7F8E8;
    color:#43A047;
}