*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background-color:#eef0fa;
}

/* NAVBAR */
.topnav{
    background-color:#08007E;
    display:grid;
    grid-template-columns:140px 1fr auto 40px;
    column-gap:25px;
    align-items:center;
    padding:10px 20px;

}

.logo{
    display:flex;
    align-items:center;
    color:white;
    font-weight:bold;
    font-size:14px;
    margin-right:30px;
}

.logo img{
    width:40px;
    height:38px;
    margin-right:10px;
}

.logo span{
    color:white;
    font-weight:bold;
    font-size:14px;
    line-height:15px;
}

.searchBox{
    position:relative;
    width:100%;
    max-width:1100px;
    margin-left: -20px;
    flex:1;
    
}

.searchBox input{
    width:100%;
    height:30px;
    padding:0 18px 0 35px;
    border:none;
    border-radius:10px;
    outline:none;
    font-size:14px;
}

.searchSymbol{
    position:absolute;
    left:10px;
    top:50%;
    transform:translateY(-50%);
    color:gray;
    cursor:pointer;
    font-size:18px;
}

.topnav ul{
    list-style:none;
    display:flex;
    align-items:center;
    padding:0;
    margin:0;
    gap:25px;
}

.topnav ul li a{
    text-decoration:none;
    color:white;
    font-size:14px;
    font-weight:500;
    transition:0.2s;
}


.topnav ul li a:hover{
    color:#ff9800;
}

.topnav ul li a.active-nav{
    color:#ff9800;
    font-weight:bold;
    border-bottom:3px solid #ff9800;
    padding-bottom:4px;
}



.profile a{
    margin-left:15px;
    display:flex;
    align-items:center;
    text-decoration:none;
}

.profileSymbol{
    cursor:pointer;
    color:white;
    font-size:25px;
}

/* HERO */
.picture{
    height:280px;
    background-image:
        linear-gradient(rgba(17,24,111,0.60), rgba(17,24,111,0.60)),
        url("./image/utem.jpg");

    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;
}

.picture h1{
    color:white;
    font-size:42px;
    font-weight:bold;
}

/* MAIN */
.main-container{
    display:flex;
    background:#eef0fa;
}

/* SIDEBAR */
.sidebar{
    width:300px;

    background:white;
    padding:30px 
    
}

/* MAIN FILTER */
.filter-box{
    margin-bottom:20px;
    
}

.filter-box summary{
    list-style:none;
    cursor:pointer;
    color:#11186f;
    font-size:16px;
    font-weight:500;
    display:flex;
    align-items:center;
    justify-content:space-between;
    
}

.filter-box summary::-webkit-details-marker{
    display:none;
}

.filter-box summary::after{
    content:"›";
    font-size:22px;
    font-weight:bold;
    transition:0.3s ease;
}

.filter-box[open] summary::after{
    transform:rotate(90deg);
}

/* NORMAL BUTTON */
.side-btn{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height:42px;
    background:#b5b5b5;
    color:white;
    border:none;
    border-radius:8px;
    padding:0 12px;
    margin-bottom:10px;
    text-decoration:none;
    font-size:15px;
    font-weight:500;
    transition:0.2s ease;
    white-space:nowrap;
}

.side-btn:hover{
    background:#8f8f8f;
    transform:translateX(3px);
}

.side-btn.active{
    background:#11186f;
}

/* SUB DROPDOWN */
.sub-filter{
    margin-bottom:10px;
}

.sub-filter summary{
    list-style:none;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    height:42px;
    padding:0 16px;
    margin-bottom:8px;
    background:#b5b5b5;
    color:white;
    border-radius:8px;
    font-size:15px;
    font-weight:500;
}

.sub-filter summary::-webkit-details-marker{
    display:none;
}

.sub-filter summary::after{
    content:"›";
    font-size:22px;
    font-weight:bold;
    transition:0.2s ease;
}

.sub-filter[open] summary::after{
    transform:rotate(90deg);
}

.sub-filter[open] summary{
    background:#11186f;
}

.sub-link{
    display:block;
    color:#11186f;
    text-decoration:none;
    font-size:14px;
    padding:10px 15px 10px 35px;
    margin-bottom:5px;
    border-radius:8px;
}

.sub-link:hover{
    background:#eef0fa;
}

.sub-link.active{
    background:#eef0fa;
    font-weight:bold;
}

/* EVENT AREA */
.events-section{
    flex:1;
    padding:30px 50px;
}

.breadcrumb{
    color:#11186f;
    font-size:14px;
    margin-bottom:25px;
}

/* EVENT CARD */
.event-card{
    background:white;
    display:flex;
    align-items:center;
    margin-bottom:25px;
    height:170px;
}

.event-image{
    width:300px;
    height:170px;
    background:#d9d9d9;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    flex-shrink:0;
}

.event-image img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.event-info{
    flex:1;
    margin-left:35px;
}

.event-info h2{
    color:#11186f;
    font-size:24px;
    margin-bottom:10px;
}

.event-info p{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:8px;
    font-size:15px;
}

.event-info .material-icons{
    font-size:18px;
}

.event-button{
    margin-right:35px;
}

.event-button button{
    background:#ff9800;
    color:white;
    border:none;
    border-radius:20px;
    padding:12px 35px;
    font-size:15px;
    cursor:pointer;
    box-shadow:0 4px 5px rgba(0,0,0,0.3);
}

.sub-link.active{
    background:#eef0fa;
    font-weight:bold;
    color:#11186f;
}

/* Logout */

.logout-box{
    margin-top:40px;
    text-align:center;
}

.logout-btn{
    display:block;
    width:100%;
    color:#11186f;
    text-decoration:none;
    font-size:14px;
    font-weight:500;
   
}

.logout-btn:hover{
    text-decoration:underline;

}


