body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EFF2FF;
}

#wrapper {
    display: flex;
}

main {
    width: 100%;
    margin-left: 180px;
}

article {
    padding: 30px 30px;
}

h1 {
    font-size: 30px;
    color: #00157D;
    margin-top: 12;
    margin-bottom: 20px;
}

#boxContainer {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.box {
    flex: 1 1 250px;
    min-width: 200px;
    height: 80px;
    padding: 15px 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.box p {
    margin: 0;
    font-size: 16px;
}

.box h2 {
    margin: 3px 0 0;
    font-size: 35px;
}

.purpleBox {
    background: linear-gradient(to right, #DC8FFF, #6D017D);
}

.greenBox {
    background: linear-gradient(to right, #02A74C, #01411E);
}

.redBox {
    background: linear-gradient(to right, #D70606, #710303);
}

#graphContainer {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    align-items: stretch;
}

.graphSection {
    flex: 1;
    display: flex;
}

#graphBox,
#pieChart {
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
}

#graphBox h3,
#pieChart h3 {
    margin-top: -5px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #00157D;
    text-align: left;
}

#graphBox canvas {
    width: 100% !important;
    height: 240px !important;
}

#pieChart canvas {
    max-width: 250px;
    max-height: 250px;
    margin: auto;
    
}

.sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.sectionHeader h3 {
    margin: 0;
    color: #00157D;
}

.viewReport {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-decoration: none;
    color: #00157D;
    transition: .3s;
}

#eventSection h3 {
    margin: 0 0 15px;
    color: #00157D;
    font-size: 14px;
}

#eventSection {
    flex: 1 1 350px;
    margin-top: 25px;
    background-color: #F7F7F7;
    border-radius: 8px;
    padding: 22px;
    width: 88%;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

#eventList {
    overflow-y: auto;
    flex: 1;
}

.eventRow {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-bottom: 18px;
    flex-wrap: wrap;
}

.poster {
    width: 200px;
    height: 130px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-align: center;
    border-radius: 8px;
}

.poster img {
    width: 100%;
    height: 180px;
    border-radius: 8px;
    object-fit: contain;
}

.eventInfo {
    flex: 1;
}

.eventInfo h2 {
    font-size: 18px;
    color: #00157D;
    margin: 0 0 8px;
}

.eventInfo p {
    font-size: 12px;
    color: #00157D;
    margin: 6px 0;
}

.statusBtn {
    width: 120px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.openStatus,
.upcomingStatus,
.closedStatus {
    width: 120px;
    height: 36px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
}

.openStatus {
    background-color: #CDECCB;
    color: #0B7A34;
}

.upcomingStatus {
    background-color: #CDE4FF;
    color: #0066D6;
}

.closedStatus {
    background-color: #F5D0D0;
    color: #B00000;
}

