*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #eef0fa;
}

/*NAVBAR*/

.logo{ 
    display:flex;
    align-items:center;
    color:white;
    font-weight:bold;
    font-size:14px;
    margin-right:30px;
}

.logo img{
    width:40px;
    height:38px;
    margin-right:10px;
   
}

.logo span{
    color:white;
    font-weight:bold;
    font-size:14px;
    line-height:15px;
}

.searchBox{
    position:relative;
    width:100%;
    max-width:1100px;
    margin-left: -20px;
    flex:1;
}

.searchBox input{
    width:100%;
    height:30px;
    padding:0 18px 0 35px;
    border:none;
    border-radius:10px;
    outline:none;
    font-size:14px;
 
}

.searchSymbol{
    position:absolute;
    left:10px;
    top:50%;
    transform:translateY(-50%);
    color:gray;
    cursor:pointer;
    font-size:18px;
}

.topnav{
    background-color:#08007E;
    display:grid;
    grid-template-columns:140px 1fr auto 40px;
    column-gap:25px;
    align-items:center;
    padding:10px 20px;
  
}

.topnav ul{
    list-style:none;
    display:flex;
    align-items:center;
    padding:0;
    margin:0;
    gap:25px;
}

.topnav ul li a{
    text-decoration:none;
    color:white;
    font-size:14px;
    font-weight:500;
    transition:0.2s;
}

.profile a{
    margin-left:15px;
    display:flex;
    align-items:center;
    text-decoration:none;
}

.profileSymbol{
    cursor:pointer;
    color:white;
    font-size:25px;
}

.topnav ul li a:hover{
    color:#ff9800;
}

.topnav ul li a.active-nav{
    color:#ff9800;
    font-weight:bold;
    border-bottom:3px solid #ff9800;
    padding-bottom:4px;
}




.picture{
    height:280px;
    background-image:linear-gradient(rgba(17,24,111,0.60), rgba(17,24,111,0.60)),
        url("./image/utem.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
}

.picture h1{
    color:white;
    font-size:42px;
}

.main-container{
    display:flex;
    background:#eef0fa;
}

.sidebar{
    width:300px;

    background:white;
    padding:30px 
}

.filter-title{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:10px;
}

.filter-title p{
    color:#11186f;
    font-size:14px;
}

.sidebar button, .side-btn{
    display:block;
    width:100%;
    height:35px;
    border:none;
    border-radius:5px;
    margin-bottom:8px;
    padding-left:15px;
    text-align:left;
    background:#adadad;
    color:white;
    text-decoration:none;
    line-height:35px;

}

.side-btn{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height:42px;
    background:#b5b5b5;
    color:white;
    border:none;
    border-radius:8px;
    padding:0 12px;
    margin-bottom:10px;
    text-decoration:none;
    font-size:15px;
    font-weight:500;
    transition:0.2s ease;
    white-space:nowrap;
}



.sidebar .active{
    background:#11186f;
}


.side-btn:hover{
    background:#8f8f8f;
    transform:translateX(3px);
}


.date-tile{
    margin-top:20px;
}

.details-section{
    flex:1;
    padding:30px 50px;
}

.breadcrumb{
    color:#11186f;
    font-size:14px;
    margin-bottom:25px;
}
 
.details-layout{
    display:flex;
    gap:35px;
}

.left-content{
    flex:1;
}

.main-card{
    background:white;
    box-shadow:0 3px 5px rgba(0,0,0,0.3);
}

.event-poster{
    height:360px;
    background:#d9d9d9;
    overflow:hidden;
}

.event-poster img{
    width:100%;
    height:100%;
    object-fit:fill;
    display:block;
}

.event-description{
    padding:25px 35px;
    border-bottom: 1px solid #d0d0d0;
}

.event-description h2{
    color:#11186f;
    font-size:24px;
    margin-bottom:10px;
}

.event-description p{
    font-size:15px;
    line-height:1.5;
}

.event-objectives{
    padding:25px 35px;
}

.event-objectives h2{
    color:#11186f;
    font-size:22px;
    margin-bottom:12px;
}

.event-objectives ul{
    padding-left:20px;
}

.event-objectives li{
    font-size:15px;
    margin-bottom:6px;
}


.right-content{
    width:300px;
}

.registration-card{
    background:white;
    padding:25px;
    box-shadow:0 3px 5px rgba(0,0,0,0.3);
}

.registration-card hr{
    border:none;
    border-top:1px solid #ddd;
    margin:20px 0;
}

.seat-warning{
    background:#ffe8a3;
    color:#ff9800;

    padding:10px;
    border-radius:20px;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:8px;

    margin-bottom:20px;
   
}

.registration-card p{
    display:flex;
    align-items:center;
    gap:12px;

    margin:15px 0;
    font-size:16px;
}

.registration-card .material-icons{
    font-size:20px;
}

.registration-card a.register-btn{
    width:100%;
    height:50px;
    background:#ff9800;
    color:white;
    border-radius:12px;
    font-size:16px;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
}

.register-btn:hover{
    opacity: 0.9;
    transform: scale(1.03);
    transition: 0.3s;
}
.closing-box{
    margin-top:20px;

    background:#e5e5e5;

    border-radius:12px;

    padding:15px;

    text-align:center;

    color:#666;
}

.registration-card h2{
    color:#11186f;
    text-align:center;
    font-size:20px;
    margin-bottom:20px;
}


.organiser-logo img{
    width:100%;
    height:100%;
    object-fit:contain;
}

.organiser-info{
    display:flex;
    align-items:center;
    gap:10px;
}

.organiser-card{
    background:white;
    margin-top:25px;
    padding:25px;
    box-shadow:0 3px 5px rgba(0,0,0,0.3);
}

.organiser-card h2{
    text-align:center;
    color:#11186f;
    margin-bottom:20px;
}

.organiser-logo{
    width:50px;
    height:50px;
    flex-shrink:0;
}

.organiser-info p{
    color:#11186f;
    font-size:14px;
    line-height:1.3;
    margin:0;
}

.recommended-section{
    margin-top:35px;
}

.recommended-section h2{
    color:#11186f;
    font-size:20px;
    font-weight:bold;
    margin-bottom:20px;
}

.recommended-list{
    display:flex;
    gap:25px;
    flex-wrap:wrap;
}

.recommend-card{
    width:260px;
    background:#9bb8d3;
    border-radius:5px;
    overflow:hidden;
}

.recommend-img{
    height:170px;
    background:#d9d9d9;
}

.recommend-img img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.recommend-info{
    background:#9bb8d3;
    padding:15px;
    color:white;
    min-height:150px;
}

.recommend-info h3{
    font-size:18px;
    margin-bottom:10px;
    font-weight:600;
}

.recommend-info p{
    display:flex;
    align-items:center;
    gap:8px;
    margin-bottom:8px;
    font-size:13px;
}

.recommend-info .material-icons{
    font-size:15px;
}

.recommend-btn{
    background:#ff9800;
    color:white;
    text-decoration:none;
    border:none;
    border-radius:20px;
    padding:8px 22px;
    margin-top:10px;
    display:inline-block;
    font-size:13px;
    cursor:pointer;
    box-shadow:0 3px 5px rgba(0,0,0,0.25);
}

.recommend-btn:hover{
    opacity:0.9;
}

.filter-box{
    margin-bottom:20px;

}

.filter-box summary{
    list-style:none;
    cursor:pointer;
    font-size:16px;
    color:#11186f;
    font-weight:500;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:10px;
}

.filter-box summary::-webkit-details-marker{
    display:none;
}

.filter-box summary::after{
    content:"›";
    font-size:22px;
    font-weight:bold;
    transition:0.3s ease;
}

.filter-box[open] summary::after{
    transform:rotate(90deg);
}

.side-btn.active{
    background:#11186f;
}


.sub-link{
    display:block;
    color:#11186f;
    text-decoration:none;
    font-size:14px;
    padding:10px 15px 10px 35px;
    margin-bottom:5px;
    border-radius:8px;
}

.sub-link:hover{
    background:#eef0fa;
}

.sub-link.active{
    background:#eef0fa;
    font-weight:bold;
    color:#11186f;
}

.logout-box{
    margin-top:40px;
    text-align:center;
}

.logout-btn{
    display:block;
    width:100%;
    color:#11186f;
    text-decoration:none;
    font-size:14px;
    font-weight:500;
   
}

.logout-btn:hover{
    text-decoration:underline;

}

.sub-filter summary{
    list-style:none;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    height:42px;
    padding:0 16px;
    margin-bottom:8px;
    background:#b5b5b5;
    color:white;
    border-radius:8px;
    font-size:15px;
    font-weight:500;
}

.sub-filter summary::-webkit-details-marker{
    display:none;
}

.sub-filter summary::after{
    content:"›";
    font-size:22px;
    font-weight:bold;
    transition:0.2s ease;
}

.sub-filter[open] summary::after{
    transform:rotate(90deg);
}

.sub-filter[open] summary{
    background:#11186f;
}