body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EFF2FF;
}

#wrapper {
    display: flex;
}

/* TOP CONTAINER */

main{
    margin-left:180px;
    width:calc(100% - 180px);
    overflow-x:hidden;

}

article{
    padding: 0px;
}

#topContainer
{
    background-color: white;
    padding:50px 22px 22px;
    margin-bottom: 18px;
    width: 100%;
    box-sizing: border-box;
}

#topSection
{
   display:flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid #DDDDDD;
   padding-bottom: 15px;
   margin-bottom: 18px;
}

/*EXPORT BUTTON*/

#exportBtn{
    border: none;
    background-color: #FF9500;
    color:white;
    padding: 12px 20px;
    border-radius: 12px;
    cursor:pointer;
    font-size: 13px;
}

#topSection h1{
    margin:0;
    font-size: 24px;
    color:#00157D;
}

#topSection p{
    margin-top:8px;
    font-size: 13px;
    color:#000000;
}

#searchSection
{
    display:flex;
    align-items: center;
    gap:18px;
}

#searchBox{
    
    display: flex;
    align-items: center;
    padding:0 12px;
    
}

#eventSection, #participantSection{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#eventSection label, #participantSection label{
    color:#00157D;
    font-size: 15px;
    font-weight: bold;
}

#eventSection{
    width: 220px;;
}

#participationSection{
    flex:1;
}

#event,#searchBox{
    height: 38px;
    border: none;
    border-radius: 8px;
    background-color: #F5F5F5;
}

#event{
    padding:0 12px;
    outline:none;
    font-size: 12px;
    color:#666666;
}

#searchBox{
    display: flex;
    align-items: center;
    padding: 0 12px;
}

#searchBox input{
    width: 100%;
    border: none;
    outline:none;
    background: none;
    padding-left: 10px;
    font-size: 12px;
}

#searchBtn{
    width: 85px;
    height: 38px;
    border: none;
    border-radius: 6px;
    background-color: #001A9E;
    color: #DDDDDD;
    margin-top: 25px;
}

.material-symbols-outlined.search
{
    color:#999999;
    font-size:18px;
}

#searchBox input{
    width:100%;
    border:none;
    outline:none;
    background: none;
    padding-left:10px;
    font-size: 13px;
}

/*SUMMARY*/

#summaryContainer{
    display: flex;
    gap: 18px;
    background-color: #ffffff;
    padding: 18px;
    margin:0 18px 18px;
}

.summaryBox{
    flex:1;
    background-color: #EFF2FF;
    padding: 18px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.material-symbols-outlined.registerIcon{
    color: #F39C12;
    font-size: 70px;
    padding-right: 20px;
}

.material-symbols-outlined.presentIcon{
    color: #3498DB;
    font-size: 70px;
    padding-right: 20px;
}

.material-symbols-outlined.absentIcon{
    color:#fd6161;
    font-size: 70px;
    padding-right: 20px;
}

.material-symbols-outlined.percentIcon{
    color:#2ECC71;
    font-size: 70px;
    padding-right: 20px;
}

.summaryBox h2{
    margin: 0;
    color: #000000;
    font-size: 28px;
}

.summaryBox p{
    margin: 3px 0 0;
    font-size: 16px;
    color: #232323;
}

.summaryBox p{
    margin:3px 0 0;
    font-size:15px;
    color:#232323;
}

/* ===========================
            TABLE
=========================== */

#tableContainer{
    background:#FFFFFF;
    margin:18px;
    padding:22px;
    border-radius:10px;
}

#tableContainer h3{
    margin:0 0 20px;
    color:#00157D;
    font-size:18px;
    font-weight:bold;
}

#tableSection{
    margin-top:10px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#DDEBFF;
    color:#00157D;
    padding:18px 22px;
    font-size:15px;
    font-weight:bold;
}

th:nth-child(2),
th:nth-child(3){
    text-align:center;
}

td{
    padding:18px 22px;
    font-size:15px;
    color:#00157D;
    vertical-align:middle;
}

/* remove row line */

tbody tr,
table tr{
    border:none;
}

/* column width */
th:first-child{
    width:45%;
    text-align:center;      
    padding-left:0;
}

td:first-child{
    width:45%;
    text-align:center;
    padding-left:160px;
    
}


th:nth-child(2),
td:nth-child(2){
    width:30%;
    text-align:left;
}

th:nth-child(3),
td:nth-child(3){
    width:25%;
    text-align:left;
    padding-right:35px;
}

/* profile */

.profileCell{
    display:flex;
    align-items:center;
    gap:14px;
    padding-left:30px;
    
}

.material-symbols-outlined.profileIcon{
    font-size:30px;
    color:#666666;
}

.profileName{
    font-size:15px;
    font-weight:500;
    color:#00157D;
}

/* status */

.presentStatus,
.absentStatus{

     position:relative;
    left:-100px; 
    width:120px;
    height:40px;

    display:flex;
    justify-content:center;
    align-items:center;

    margin:0 auto;

    border-radius:25px;

    font-size:15px;
    font-weight:bold;
}

.presentStatus{
    background:#D8F6D5;
    color:#0B9C20;
}

.absentStatus{
    background:#FFD7D7;
    color:#FF2D2D;
}

/* PAGE NUMBER */


.pageBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageBtn:hover, .pageNumber:hover{
    background-color: #EEF1FF;
}

.activeNumber
{
    border-color: #1c24ff;
    color:#1c24ff;
}

.material-symbols-outlined.arrowback{
    font-size: 15px;
}

#pageNumberSection{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding:20px;
    border-top: 1px solid #bbbbbb;
    margin: 0 19px;
}

.pageBtn,
.pageNumber{

    width:32px;
    height:32px;

    display:flex;
    justify-content:center;
    align-items:center;

    border:1px solid #D6D6D6;
    border-radius:6px;
    background:white;

    padding:0;
    margin:0;
    box-sizing:border-box;

    font-size:12px;
    color:#666666;
    cursor:pointer;
    text-decoration: none;

}

.pageBtn:hover,
.pageNumber:hover{

    background-color: #EEF1FF;;

}

.activeNumber{

    border-color: #1c24ff;
    color:#1c24ff;

}

.material-symbols-outlined.arrowback{
    font-size: 15px;
}

.material-symbols-outlined.arrowforward{
    font-size: 15px;
}

